@model LoginViewModel
@{
    ViewData["Title"] = "Giriş Yapınız";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyC8/3eRYMRUqIc1qrL/5U6voegyoJ0PBb" crossorigin="anonymous">
    <style>
        body {
            background-color: #f8f9fa;
        }

        .container {
            margin-top: 100px;
        }

        .card {
            border: none;
            border-radius: 15px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        }

        .form-group {
            margin-bottom: 1.5rem;
        }

        .btn-primary {
            background-color: #dc3545;
            border: none;
            border-radius: 25px;
        }

        .btn-primary:hover {
                background-color: #c82333;
        }
    </style>
</head>
<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card p-4">
                    <h1 class="display-4 text-center mb-4">@ViewData["Title"]</h1>

                    <form method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>

                        <div class="form-group">
                            <label asp-for="Username" class="form-label">Kullanıcı Adı</label>
                            <input asp-for="Username" class="form-control" placeholder="Adınızı giriniz" />
                            <span asp-validation-for="Username" class="text-danger small"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="form-label">Şifre</label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Şifrenizi giriniz" />
                            <span asp-validation-for="Password" class="text-danger small"></span>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary"><i class="fa-solid fa-right-to-bracket me-2"></i><b>Giriş Yap</b></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyC8/3eRYMRUqIc1qrL/5U6voegyoJ0PBb" crossorigin="anonymous"></script>

</body>
</html>
